{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uppcl Health Care</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
</head>

<body>
    <!-- Header Section -->
    <header>
        <div class="header-container">
            <img src="{% static '/images/logo.png' %}" alt="Logo" class="logo">
            <h1>Uppcl Health Care</h1>
        </div>

        <div class="header-nav">
            <nav>
                <ul>
                    <li><a href= "{% url 'user_management:reimbursement_selection' %}">Home</a></li>
                    <li><a href="{% url 'user_management:user_profile' %}">Profile Section</a></li>
                    {% if user.is_authenticated %}
                        <li>
                            Welcome {{ user.username }} 
                            (<a href="{% url 'user_management:user_logout' %}">Log out</a>)
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p class="alert {{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <!-- Main Content Block -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer Section -->
    <footer>
        <div class="footer-container">
            <p>&copy; 2024 UTTAR PRADESH POWER CORPORATION LTD. All rights reserved.</p>
            <p><a href="#">Privacy Policy</a> | <a href="#">Terms & Conditions</a></p>
        </div>
    </footer>
</body>

</html>
