{% extends 'base.html' %}

{% block content %}
<h2>Login to Your Account</h2>
<form method="POST">
    {% csrf_token %}
    
    <input type="text" id="username" name="username" placeholder="Username" required>
    <input type="password" id="password" name="password" placeholder="Password" required>

    <label>Group:</label>
    <label for="group1">
        <input type="radio" name="group" value="Group 1" required> Serving
    </label>
    <label for="group2">
        <input type="radio" name="group" value="Group 2" required> Retired
    </label>

    <button type="submit">Login</button>
</form>

<div class="message">
    <p>Don't have an account? <a href="{% url 'user_management:user_signup' %}">Sign up here</a></p>
</div>
{% endblock %}
