{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Choose Your Reimbursement Facility</h2>

    <form method="POST" action="{% url 'medical_reimbursement' %}">
        {% csrf_token %}
        
        <label for="medical_reimbursement">
            <input type="radio" id="medical_reimbursement" name="reimbursement_type" value="Medical Reimbursement" required> Medical Reimbursement
        </label><br>
        
        <label for="medical_cashless">
            <input type="radio" id="medical_cashless" name="reimbursement_type" value="Medical Cashless" required> Medical Cashless
        </label><br>
        
        <label for="medical_advance">
            <input type="radio" id="medical_advance" name="reimbursement_type" value="Medical Advance" required> Medical Advance
        </label><br>
        
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}
